html,body {
    height: 100%;
    font-family: Inter, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

main {
    display: flex;
    height: 100%;

    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

main div {
    text-align: center;
    margin: auto;
}

/* #carbonads {
    bottom: 1rem;
    display: block;
    position: fixed;
    right: 1rem;
    text-align: left;
    width: 140px;
    z-index: 100;
}

#carbonads a {
    color: #fff;
}

#carbonads a:hover {
    color: #fff;
}

#carbonads span {
    display: block;
    overflow: hidden;
}

.carbon-img {
    display: block;
    line-height: 1;
    margin: 0 auto 8px;
}

.carbon-text {
    font-size: 12pt;
    display: block;
    margin-bottom: 8px;
}

.carbon-poweredby {
    display: block;
    font-size: 9px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {
    #carbonads {
        margin: auto auto auto 20px;
        position: relative;
        width: 100%;
    }

    #carbonads .carbon-img {
        float: left;
        margin-right: 10px;
        vertical-align: middle;
    }

    #carbonads .carbon-text {
        font-size: 12pt;
        display: inline;
        line-height: 8px;
    }

    body .page-content {
        margin-right: 0;
    }
} */